{{!< default}}

{{#post}}
<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">
    {{#if feature_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url feature_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <h1 class="site-title">{{@site.title}}</h1>
                {{/if}}
            {{/match}}
            {{#if @site.description}}
                <h1 class="site-description">{{@site.description}}</h1>
            {{/if}}
        </div>
    {{/match}}
<div class="smoke-container">
    <div class="smoke"></div>
</div>
<svg class='animated'>
  <filter id="wavy">
    <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" speed=".002">
      <animate attributeName="baseFrequency" dur="190s" values="0.02; 0.002; 0.02" repeatCount="indefinite">
    </feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="30"></feTurbulence>
  </filter>
</svg>
<svg class='animated'>
  <filter id="tight">
    <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="5" speed=".002">
      <animate attributeName="baseFrequency" dur="190s" values="0.02; 0.002; 0.02" repeatCount="indefinite">
    </feTurbulence>
    <feDisplacementMap in="SourceGraphic" scale="15"></feTurbulence>
  </filter>
</svg>

</div>
{{!-- Everything inside the #post block pulls data from the page --}}

<main id="site-main" class="site-main">
<article class="article {{post_class}}">
    <section class="gh-content gh-canvas">
        {{content}}
    </section>

</article>
</main>

{{/post}}
